<div class="fade-in">
  <div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <p-button class="p-button-rounded mr-1" badge="0" pTooltip="Finalizar venda" icon="pi pi-cart-plus">
        </p-button>
      </ng-template>
    </p-toolbar>

    <div class="grid">
      <div class="product-card m-2 mb-2 col-2" *ngFor="let p of products">
        <a type="button" pTooltip="Ver detalhes" tooltipPosition="top" class="imgBox">
          <img [alt]="p.name" [src]="p.image ? p.image : 'assets/icons/medicine.png'" class="mouse">
        </a>

        <div class="contentBox">
          <h3>{{ p.name }}</h3>
          <h2 class="price">{{ p.price | currency: '':'AOA' }}</h2>
          <a type="button" class="buy">Adicionar a venda</a>
          <span class="category">{{ p.category.name }}</span>
        </div>
      </div>
    </div>
  </div>
