header {
  background: #50bec8;
  background: -webkit-linear-gradient(-135deg, #50bec8, #4158d0);
  background: -o-linear-gradient(-135deg, #50bec8, #4158d0);
  background: -moz-linear-gradient(-135deg, #50bec8, #4158d0);
  background: linear-gradient(-135deg, #50bec8, #4158d0);
}
