<ng-template #sidenav let-offcanvas>
  <div class="offcanvas-header" style="background-color: #4158D0FF; color: white">
    <h4 class="offcanvas-title" id="offcanvas-basic-title"><img
      [src]="authService.currentUser?.photo ? authService.currentUser?.photo : 'assets/icons/user-fb.png'" width="32"
      height="32"
      style="vertical-align: middle;border-radius:50%" alt="Foto de perfil"> {{ authService.currentUser?.name }}</h4>
    <span class="item logout-btn"><a type="button" pTooltip="Logout"
                                     tooltipPosition="bottom" style="padding: 10px 10px 10px 10px;"
                                     (click)="authService.logout();offcanvas.dismiss()">
      <i class="pi pi-sign-out"></i></a></span>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
  </div>
  <div class="offcanvas-body navigation">
    <ul>
      <li *ngFor="let i of items" class="item dropdown">
        <a [routerLink]="i.path" (click)="offcanvas.dismiss(); dropdown()">
          <i [class]="i.icon"></i> {{ i.title }}
        </a>
        <a class="dropdown-content item" *ngFor="let j of i.children" [routerLink]="j.path"
           (click)="offcanvas.dismiss()"><i [class]="j.icon"></i> {{ j.title }}</a>
      </li>
    </ul>
  </div>
</ng-template>

<header class="navbar navbar-dark px-4 flex-column flex-md-row navigation" style="top:0; position: sticky">
  <button class="navbar-toggler" type="button" (click)="open(sidenav)"
          aria-expanded="false" aria-label="Toggle navigation"><span
    class="navbar-toggler-icon"></span></button>
  <h3 style="text-align: center;">
    <b>Farmácia <img style="max-height: 60px" alt="logo" src="assets/icons/logo.png"></b>
  </h3>
</header>
