<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<div class="container resize">
  <div [ngSwitch]="action" class="flex justify-content-end mr-6 mt-2 mb-2">
    <button *ngSwitchCase="actions.READ"
            pButton
            pRipple
            type="button"
            icon="pi pi-user-edit"
            class="p-button-rounded p-button-warning"
            pTooltip="Modo de edição"
            [routerLink]="['/user/', actions.UPDATE, id]"
    ></button>
    <button *ngSwitchCase="actions.UPDATE"
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-button-rounded p-button-success"
            pTooltip="Modo de leitura"
            [routerLink]="['/user/', actions.READ, id]"
    ></button>
  </div>

  <p-panel [header]="pageInfo[action].title">
    <form [formGroup]="form" (submit)="submit()">
      <div style="margin: auto; width: 100px">
        <p-progressSpinner *ngIf="loading"></p-progressSpinner>
      </div>
      <div *ngIf="!loading" class="grid"
           style="margin: 10px 0">
        <!--Nome-->
        <div class="col-12 md:col-6 lg:col-3 p-fluid" [ngClass]="{'disabled': action === actions.READ}">
          <div>
            <i class="pi pi-user"></i> *Nome
          </div>
          <input title="Nome"
                 [formControlName]="FORM.name"
                 placeholder="Nome"
                 [readonly]="action === actions.READ"
                 [ngClass]="{ 'is-invalid': submitted && f[FORM.name].errors }"
                 [readonly]="action === actions.READ"
                 class="form-control">
          <small *ngIf="f[FORM.name]?.errors && f[FORM.name]?.errors!['required']" class="p-error">
            Nome do usuário é <strong>obrigatório!</strong>
          </small>
        </div>
        <!--Nome de utilizador-->
        <div class="col-12 md:col-6 lg:col-3 p-fluid" [ngClass]="{'disabled': action === actions.READ}">
          <div>
            <i class="pi pi-user"></i> *Nome utilizador
          </div>
          <input title="Nome de utilizador"
                 [formControlName]="FORM.username"
                 placeholder="Nome de utilizador"
                 [readonly]="action === actions.READ"
                 [ngClass]="{ 'is-invalid': submitted && f[FORM.username].errors }"
                 class="form-control">
          <small *ngIf="f[FORM.username]?.errors && f[FORM.username]?.errors!['required']" class="p-error">
            Nome de utilizador é <strong>obrigatório!</strong>
          </small>
        </div>
        <!--BI-->
        <div class="col-12 md:col-6 lg:col-3 p-fluid">
          <div class="ui-grid-col-2">
            <i class="pi pi-id-card"></i> *Bilhete de Identidade
          </div>
          <input title="B.I" pInputText type="text" class="form-control" [formControlName]="FORM.bi" minlength="14"
                 maxLength="14" [ngClass]="{ 'is-invalid': submitted && f[FORM.bi].errors }"
                 [readonly]="action === actions.READ"
                 style="text-transform: uppercase">

          <div *ngIf="f[FORM.bi].errors" class="p-error">
            <small *ngIf="f[FORM.bi].getError('required')" class="p-error">B.I é
              <strong>obrigatório!</strong></small>
            <small *ngIf="f[FORM.bi].dirty && !f[FORM.bi].getError('required')" class="p-error">B.I tem que ter 14
              letras!</small>
          </div>
        </div>
        <!--Email-->
        <div class="col-12 md:col-6 lg:col-3 p-fluid">
          <div class="ui-grid-col-2">
            <i class="pi pi-envelope"></i> *E-mail
          </div>
          <div class="ui-grid-col-6 p-fluid">
            <input title="Email" label="" pInputText class="form-control" [formControlName]="FORM.email"
                   [ngClass]="{ 'is-invalid': submitted && f[FORM.email].errors }" [readonly]="action === actions.READ">
          </div>
          <small *ngIf="f[FORM.email].hasError('pattern')" class="p-error">Digite um endereço
            de e-mail válido</small>
          <small *ngIf="f[FORM.email].hasError('required')" class="p-error">
            E-mail é <strong>obrigatório!</strong>
          </small>
        </div>
        <!--Palavra-passe-->
        <div *ngIf="action !== actions.READ" class="col-12 md:col-6 lg:col-3 p-fluid">
          <div class="ui-grid-col-2">
            <i class="pi pi-lock"></i> *Palavra-passe
          </div>
          <div class="ui-grid-col-6 p-fluid">
            <p-password [toggleMask]="true" [feedback]="false" [formControlName]="FORM.password"
                        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            ></p-password>
          </div>
          <small *ngIf="f[FORM.password].hasError('required')" class="p-error">
            Palavra-passe é <strong>obrigatória!</strong>
          </small>
        </div>
        <!--Tipo-->
        <div class="flex-wrapper-dropdown ui-grid-row flex justify-content-between">
          <div class="ui-grid-col-6">
            <div class="ui-grid-col-2">
              <i class="pi pi-cog"></i> Tipo
            </div>
            <div [ngClass]="{'disabled': action === actions.READ}">
              <p-dropdown [options]="roles" [formControlName]="FORM.role">
              </p-dropdown>
            </div>
          </div>

          <!--          <div class="ui-grid-col-6">-->
          <!--            <img src="assets/icons/genders.png" alt="Logo"/> Sexo-->
          <!--            <p-dropdown [options]="sexes" optionLabel="name" [formControlName]="sex" optionValue="name">-->
          <!--            </p-dropdown>-->
          <!--          </div>-->
        </div>
        <!--Data de nascimento-->
        <div class="field col-12 md:col-4">
          <div class="ui-grid-col-2">
            <i class="pi pi-calendar"></i> Data de nascimento
          </div>
          <div class="flex justify-content-start flex-wrap gap-2">
            <p-calendar *ngIf="action !== actions.READ"
                        [showIcon]="true"
                        inputId="icon"
                        [formControlName]="FORM.birthDate"
                        [maxDate]="userService.minBirthDate"
                        dateFormat="dd/mm/yy"
                        [ngClass]="{ 'is-invalid': submitted && f[FORM.birthDate].errors }"
                        [showButtonBar]="false">
            </p-calendar>
            <small>
              <input *ngIf="action === actions.READ" pInputText [readonly]="action === actions.READ"
                     [value]="f[FORM.birthDate].value | date: 'longDate'">
              <strong> Idade:</strong>
              {{ f[FORM.birthDate].value ? userService.calculateAge(f[FORM.birthDate].value!) : '' }}</small><br>
            <small *ngIf="!f[FORM.birthDate].value && f[FORM.birthDate].touched" class="p-error"><br> Apenas pessoas com
              idade maior ou
              igual
              16 podem ser registrar!</small>
          </div>
        </div>
        <!--Submission button-->
        <div class="grid grid-nogutter justify-content-end justify-content-evenly mb-4 ml-2">
          <p-button *ngIf="action !== actions.READ" [disabled]="loading" type="submit"
                    [label]="pageInfo[action].submitBtn" icon="pi pi-angle-right"
                    iconPos="right">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          </p-button>
        </div>
      </div>
    </form>
  </p-panel>

</div>
