<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<div class="fade-in">
  <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" acceptLabel="Confirmar"
                   rejectLabel="Cancelar"></p-confirmDialog>

  <div class="mb-3">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-button class="p-button-rounded" pTooltip="Registrar usuário" icon="pi pi-plus"
                  [routerLink]="['../', action.CREATE, null]"></p-button>
      </div>
      <!--    Search bar-->
      <div class="p-toolbar-group-right">
        <input class="flex-shrink-0" type="text" pInputText placeholder="Procurar..." pTooltip="Procurar usuários"
               tooltipPosition="top" #searchRef (input)="searchUsers(searchRef)">
        <span class="p-inputgroup-addon h-3rem"><i class="pi pi-search"></i></span>
      </div>
    </p-toolbar>
  </div>
  <div style="margin: auto; width: 100px">
    <p-progressSpinner *ngIf="filteredUsers.length === 0 && loading; else contextCheck"></p-progressSpinner>
  </div>
  <ng-template #contextCheck>
    <h3 style="margin: auto;width: 50%;" *ngIf="!loading && filteredUsers.length === 0" class="text-center">N/A</h3>
  </ng-template>
  <div style="margin-bottom: 35px">
    <p-table *ngIf="filteredUsers.length !== 0" [value]="filteredUsers" [paginator]="true" [rows]="rows"
             [showCurrentPageReport]="true" [(first)]="first" styleClass="p-datatable-customers" [rowHover]="true"
             responsiveLayout="scroll"
             currentPageReportTemplate="Mostrar {first}º até {last}º em {totalRecords} usuários"
             [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Usuários</h5>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="p-selectable-row">
          <th pSortableColumn="bi">B.I
            <p-sortIcon field="bi"></p-sortIcon>
          </th>
          <th pSortableColumn="name">Nome
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="username">Nome de utilizador
            <p-sortIcon field="username"></p-sortIcon>
          </th>
          <th pSortableColumn="role">Função
            <p-sortIcon field="role"></p-sortIcon>
          </th>
          <th pSortableColumn="birthDate">Data de nascimento
            <p-sortIcon field="birthDate"></p-sortIcon>
          </th>
          <th style="width: 8rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-i="rowIndex">
        <tr class="shadow-7 hover:shadow-8">
          <td>
            <span class="p-column-title">B.I</span> {{user.bi}}
          </td>
          <td>
            <!--TODO: Make into a separate component-->
            <div style="cursor: pointer;transition: all 0.2s ease-in-out" class="glow-button"
                 [routerLink]="['../', action.READ, user.id]">
              <span class="p-column-title">Nome</span>
              <img [src]="user.photo ? user.photo : 'assets/icons/user-fb.png'" width="32" height="32"
                   style="vertical-align: middle;border-radius:50%" alt="{{user.name}}"> {{user.name}}
            </div>
          </td>
          <td>
            <span class="p-column-title">Nome de utilizador</span> {{user.username}}
          </td>
          <td>
            <span class="p-column-title">Tipo</span>
            <span class="customer-badge status-Cancelada" style="border-radius: 50%">{{user.role}}</span>
          </td>
          <td>
            <span
              class="p-column-title">Data de nascimento</span> {{user.birthDate ? (user.birthDate | date:'MMM d, y') : 'N/A' }}
            <small>{{user.birthDate ? '; ' + userService.calculateAge(user.birthDate) + ' anos' : '' }}</small>
          </td>
          <td style="text-align: center">
            <button pButton (click)="more.toggle($event)" type="button" class="p-button-secondary"
                    icon="pi pi-cog"></button>
            <p-overlayPanel #more [styleClass]="'grid max-w-30rem'">
              <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success"
                      [routerLink]="['../', action.READ, user.id]"></button>
              <br><br>
              <button pButton pRipple type="button" icon="pi pi-user-edit"
                      [routerLink]="['../', action.UPDATE, user.id]"
                      class="p-button-rounded p-button-warning"></button>
              <br><br>
              <button pButton (click)="delete(user.id, i)" pRipple type="button" icon="pi pi-trash"
                      class="p-button-rounded p-button-danger"></button>
            </p-overlayPanel>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
